body{
    background: url(http://careers.sykescottages.co.uk/images/light_noise_diagonal.png);
}


.property-item{
    border:solid silver 1px;
    margin: 0 10px 10px 10px;
    min-height:30px;
}

.search-properties-action{
  width:100%;
  margin:10px;
}

.sample-property-image{
    width:100%;
    height:auto;
}

.property-name, .num-results{
    font-size: 22px;
}

#main-container{
    background-color: #FFF;
}

header{
    margin:25px 0 25px 0;
    border-bottom: solid silver 1px;
    padding-bottom:20px;
}