{% extends "layout.html.twig" %}

{% block content %}

    <div class="col-lg-12">
        <div class="row">
            {% if sucessMessage is defined and sucessMessage|length > 0 %}
                <div class="alert alert-success"> {{sucessMessage}} </div>
            {% endif %}
        </div>
    </div>

    <div class="col-lg-3 menu">
        <div class="row">
            <h2> Find properties </h2>
            <form method="GET">

                <div class="form-group">
                    <label for="locationName">Location name:</label>
                    <input type="text" value="{{locationName}}" name="locationName" class="form-control" placeholder="Location name">
                </div>

                <div class="form-group">
                    <label>Near the beach: <input type="checkbox" {% if nearTheBeach  %} checked {% endif %} name="nearTheBeach"></label>
                </div>

                <div class="form-group">
                    <label>Accept pets: <input type="checkbox" {% if acceptPets  %} checked {% endif %} name="acceptsPets"></label>
                </div>

                <div class="form-group">
                    <label for="sleeps">Sleeps:</label>
                    <select class="form-control" name="sleeps">
                        {% for sleep in minSleeps..maxSleeps %}
                            <option {% if sleep == numSleeps  %} selected {% endif %} value="{{sleep}}"> {{sleep}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="beds">Beds:</label>
                    <select class="form-control" name="beds">
                        {% for bed in minBeds..maxBeds %}
                            <option {% if bed == numBeds  %} selected {% endif %} value="{{bed}}"> {{bed}} </option>
                        {% endfor %}
                    </select>
                </div>
                    
                <div class="form-group">
                    <label for="startDate">Start date:</label>
                    <input type="text" value="{{startDate}}" name="startDate" class="form-control datepicker" readonly='true'>
                </div>
                
                <div class="form-group">
                    <label for="endDate">End date:</label>
                    <input type="text" value="{{endDate}}" name="endDate" class="form-control datepicker" readonly='true' >
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control btn btn-info search-properties-action" value="Search">
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-push-1 col-lg-8 results">

        <ul class="pagination">
            {% for numPage in 1..numPages %}
                <li {% if numPage == currentPage %} class="active" {% endif %}>

                    {% if urlPagerHasParams %}
                        <a href="{{urlPager}}&page={{numPage}}">{{numPage}}</a>
                    {% else %}
                        <a href="?page={{numPage}}">{{numPage}}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <p class="num-results">
            We have found {{numProperties}} properties
        </p>

        {% for property in properties %}
            <div class="row property-item">

                <div class="col-lg-4">
                    <img class="sample-property-image" src="http://www.nationaltrustholidays.org.uk/dynamic/images/image1788-3.jpg">
                </div>

                <div class="col-lg-6">

                    <p class="property-name">{{property.propertyName}}</p>

                    <p>
                        {% if property.nearBeach is defined and property.nearBeach == true %}
                            Near the beach. 
                        {% endif %}

                        {% if property.acceptPets is defined and property.acceptPets == true %}
                            Accept pets.
                        {% endif %}
                    </p>


                    <p> Num sleeps: {{property.numSleeps}} </p>
                    <p> Beds: {{property.numBeds}} </p>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
