<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Sykes cottages</title>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script>
            $( function() {
                $(".datepicker").each(function(){
                    $(this).datepicker({ dateFormat: 'yy-mm-dd' });
                    
                    if ("" == $(this).val()){
                        $(this).datepicker('setDate',new Date());
                    }
                });
            });
        </script>
        
    </head>
    <body>

        
        <div class="container" id="main-container">
                <header class="header col-lg-12">
                    <a href="/"><img src="http://careers.sykescottages.co.uk/images/logo.png" alt="Sykes cottages"></a>
                    {#<a class="navbar-brand logo" href="#">Sykes cottages</a>#}
                </header>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
